rules_version = '2';

service cloud.firestore {
  match /databases/{database}/documents {
    // Warning: Unsafe rule. Allows any read/write. For debugging only.
    match /{document=**} {
      allow read, write: if true;
    }
  }
}
